
.rules {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: 4rem;
    background-image: url(/assets/image-rules-bonus.svg);
    background-repeat: no-repeat;
    background-size: 82%;
    background-position: 50% 45%;
    border: none;
}

.rules-close {
    background: transparent;
    border: none;
    padding: 1rem;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}

@media(min-width: 400px) {
    .rules {
        width: 500px;
        height: 600px;
        inset: 0;
        margin: auto;
        flex-direction: row;
        align-items: baseline;
        background-position: 50% 70%;
        padding: 2rem;
        border-radius: 1rem;
    }
    .rules-close:hover {
        background-color: #eee;
    }
}