
<div class="choose"
[ngClass]="chosen != null ? 'has-chosen' : ''"
[ngStyle]="{
    '--number-of-btns': btnNum,
    '--rotation-offset': bonusMode ? '0deg' : '-60deg',
    '--y-offset': bonusMode ? '1rem' : '-2.5rem',
    'background-image': chosen == null ? bonusMode ? 'url(assets/bg-pentagon.svg)' : 'url(assets/bg-triangle.svg)' : ''}">
    <div *ngFor="let btn of btns; index as i"
        class="btn-transform-wrapper"
        [ngStyle]="{'--idx': i}"
        [ngClass]="[isHidden(i) ? 'hidden' : '', chosen === i ? 'chosen' : '']">
        <button
            class="choose-btn"
            [ngClass]="[btn.name, result === Result.WIN ? 'big-shadow' : '']"
            (click)="choose(i)">
            <img src="assets/icon-{{btn.name}}.svg" alt="{{btn.name}} image">
        </button>
        <p class="chosen-label" [ngClass]="chosen === i ? '' : 'hidden'">YOU PICKED</p>
    </div>
    <div
    class="btn-transform-wrapper enemy"
    [ngClass]="chosen != null ? '' : 'hidden'">
    <button *ngIf="enemy != null"
        class="choose-btn"
        [ngClass]="[btns[enemy].name, result === Result.LOSE ? 'big-shadow' : '']">
        <img src="assets/icon-{{btns[enemy].name}}.svg" alt="{{btns[enemy].name}} image">
</button>
    <div *ngIf="enemy == null" class="placeholder"></div>
    <p class="chosen-label" >THE HOUSE PICKED</p>
</div>
  </div>