<div class="main-container">
  <div class="header">
    <div class="title">
      <p>ROCK</p>
      <p>PAPER</p>
      <p>SCISSORS</p>
      <p [ngClass]="bonusMode ? '' : 'hidden'">LIZARD</p>
      <p [ngClass]="bonusMode ? '' : 'hidden'">SPOCK</p>
    </div>
    <div class="score">
      <span>SCORE</span>
      <span>{{score}}</span>
    </div>
  </div>
  <app-choose
    [bonusMode]="bonusMode"
    [btns]="btns"
    (choseEvent)="choose()"
    (announceWinner)="gotResult($event)"></app-choose>
  <div class="result" *ngIf="result != null">
    <p>{{result === Result.WIN ? 'YOU WIN' : result === Result.LOSE ? 'YOU LOSE' : "IT'S DRAW"}}</p>
    <button class="btn play-again" (click)="reset()">PLAY AGAIN</button>
  </div>
  <div class="flex-1"></div>
  <div class="footer">
    <button
      class="btn rules-btn"
      [ngClass]="bonusMode ? 'active' : ''"
      [disabled]="chose"
      (click)="toggleBonus()">BONUS</button>
    <button class="btn rules-btn" (click)="toggleRules()">RULES</button>
  </div>
</div>
<app-rules *ngIf="showRules" (closeEvent)="toggleRules()" [bonusMode]="bonusMode"></app-rules>